### Backend settings

## Database settings
export DB_USER=postgres
export DB_PASSWORD=123
export DB_NAME=munu
export DB_HOST=localhost
export DB_PORT=5432

## SMTP settings
export SMTP_HOST=smtp.com
export SMTP_PORT=587
export SMTP_USER=user@domain.com
export SMTP_PASSWORD=password

## APP settings
export APP_URL= #localhost
export APP_PUBLIC_URL=http://localhost:8080
export APP_ADDRESS= #localhost
export CONFIG_EMAIL=config.json

## Mail settings
#export MAIL_FROM=""
#export MAIL_ALIAS=""
#export MAIL_SUPPORT_ADRESS=""

## Extra settings
#export LOGPATH=./dir
export JWT_SECRET=""
#export UPLOAD_LIMIT=15M
export AUTH_TOKEN=""

## GEO settings
export APP_CEPABERTO_TOKEN= #api token
export PAGARME_APIKEY= #api token
